.article {
	font-size: 1.05em;
}

.byline,
#byline,
.dateline,
#dateline {
	font-size: 85%;
	font-style: italic;
	margin-bottom: 10px;
	display: block;

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}

.breadcrumb,
.breadcrumb.utility,
.pageBreadcrumbPadding {
	font-size: 85%;
	font-style: normal;
	font-family: $headings-font-family;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;

	ul {
		list-style-type: none;
		padding: 0;

		li {
			display: inline;
		}
	}

	a {
		text-decoration: none;
	}
}

.copyright {
	font-size: 90%;
	margin-bottom: 1em;
}

.utility {
	margin-top: 1em;
	font-style: italic;
	font-size: 1.1em;
}

#mEmail {
	a {
		text-decoration: none;
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 10px;
	}
}

.mainContent>table {
	display: block;
	width: auto;
}
