// overall formatting styles for all text in the div.
.bottomLinks {
	display: inline;
	list-style-type: none;
	text-align: center;
}

// sets the padding/spacing between each item within the unordered lists.
.footerLinks {
	padding: 0 5px 5px 5px;
}

// sets the spacing between the rows of unordered lists.
#bglobeLinks,
#bcomLinks,
#copyrightStamp {
	margin-bottom: 5px;
}

// overwriting the snchor tag default setting.
.defaultEdit {
	text-decoration: none;
}

// adding it back when it is being hovered over.
.defaultEdit:hover {
	text-decoration: underline;
}

#bottomLinks {
	padding: 1em 0 1.5em;
}
