// overall formatting styles for all text in the div.
.bottomLinks {
	list-style-type: none;
	text-align: center;
	padding: 0 0 .75em;

	li {
		display: inline;
		padding: 0;

		&::before {
			content: "|";
			padding: 0 .5em;
		}

		&:first-child::before {
			content: "";
			padding: 0;
		}
	}
}

// sets the padding/spacing between each item within the unordered lists.
.footerLinks {
	padding: 0 5px 5px 5px;
	line-height: 1;
}

// overwriting the anchor tag default setting.
.defaultEdit {
	text-decoration: none;
}

// adding it back when it is being hovered over.
.defaultEdit:hover {
	text-decoration: underline;
}
