.search-results {
	&-list {
		padding: 0;
		list-style-type: none;

		h4 {
			margin-bottom: 0;
			font-size: 1.1em;
		}

		li {
			margin-bottom: 1em;
			font-size: .9em;
		}
	}

}

.searchHeading {
	margin-bottom: 1em;
}

.search-header {
	margin-bottom: .3em;

	.section {
		text-transform: capitalize;
	}

	@include media-breakpoint-up(sm) {
		display: flex;
		justify-content: space-between;
	}
}

.highlight {
	color: darkgreen;
}
